node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
properties.env
RustVote.code-workspace
tests-examples
testData/links.txt
/allure-report/
/allure-results/
package-lock.json
